<footer class="footer-area bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="footer-widget">
                    <h5 class="mb-3">{{ site.title }}</h5>
                    <p>{{ site.description }}</p>
                    <div class="social-links">
                        <a href="{{ site.social.facebook }}" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{ site.social.instagram }}" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                        <a href="{{ site.social.twitter }}" class="text-white"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <div class="footer-widget">
                    <h6 class="mb-3">Enlaces</h6>
                    <ul class="list-unstyled">
                        {% for item in site.navigation %}
                        <li><a href="{{ item.url | url }}" class="text-light text-decoration-none">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="footer-widget">
                    <h6 class="mb-3">Categorías Populares</h6>
                    <ul class="list-unstyled">
                        {% for categoria in collections.categorias %}
                        <li><a href="/categoria/{{ categoria | slug }}/" class="text-light text-decoration-none">{{ categoria }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="footer-widget">
                    <h6 class="mb-3">Recetas Recientes</h6>
                    {% for receta in collections.recetas | reverse | slice(0, 3) %}
                    <div class="recent-recipe mb-2">
                        <a href="{{ receta.url }}" class="text-light text-decoration-none small d-block">
                            {{ receta.data.title }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col-md-6">
                    <p class="mb-0">&copy; {{ now | dateFormat('YYYY') }} {{ site.title }}. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">Hecho con <i class="fas fa-heart text-danger"></i> y mucho amor por el pan</p>
            </div>
        </div>
    </div>
</footer>